{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>
<ul>
    <li><a href="/">Index</a></li>
    <li><a href="/user">Add User</a></li>
    <li><a href="/job">Add Job</a></li>
    <li><a href="/project">Add Project</a></li>
</ul>

<a href="/logout">Logout</a>
{% endblock %}